---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">Full publications at <a href="{{site.author.googlescholar}}">my Google Scholar</a>.</div>
{% endif %}

{% include toc %}

<!-- # Preprint -->

# 2025
1. Jing Li, Xueke Chi, **Qiufeng Wang**, Kaizhu Huang, Da-Han Wang, Yongge Liu, Cheng-Lin Liu, “A comprehensive survey of oracle character recognition: Challenges, datasets, methodology, and beyond”, Pattern Recognition, 2025.
2. Xiaoqiang Kang, Zimu Wang, Xiaobo Jin, Wei Wang, Kaizhu Huang, **Qiufeng Wang**, “Template-Driven LLM-Paraphrased Framework for Tabular Math Word Problem Generation”, AAAI, 2025.



# 2024

